---
import '../../style.css'
import MainLayout from '../../layouts/MainLayout.astro'
---

<MainLayout title='styleguide'>
    <div class="w-11/12 m-auto">
        <h1 class="title-serif-2xl">Styleguide</h1>
        <p class="body-sans-sm">I'm a test!</p>
        <a href="#" class="link-serif">LINK</a>
    </div>
</MainLayout>
