---
import MainLayout from '../layouts/MainLayout.astro'
import {getLink} from '../components/Link.astro'
import Card from '../layouts/Card.astro'

const logo = getLink('/design/symbol-white-astoria-tech-mark.png')

const data = [
  {name: 'Meetup page', href: 'https://www.meetup.com/astoria-tech-meetup/'},
  {name: 'Instagram page', href: 'https://www.instagram.com/astoria.tech/'},
  {name: 'GitHub repo', href: 'https://github.com/astoria-tech'},
  {name: 'Slack Channel', href: 'https://astoriatech.slack.com/'},
  {name: "I'd like to present", href: 'https://astoria.app/intake'},
  {name: 'RSVP next event', href: 'https://partiful.com/e/M6dvVrW5HuqMl4bfEaIi'},
]
---

<MainLayout>
  <Card>
    <header>
      <img class="mx-auto w-70 p-10" src={logo} alt="Astoria Tech Logo" />
    </header>
    <div class="flex flex-col items-center">
      {
        data.map(item => (
          <a
            class="no-underline w-80 dark:bg-[#f8fafc] bg-opacity-95 rounded-full p-3 lg:p-4 mb-5 text-center dark:last:bg-[#B7C7B3]"
            href={item.href}
          >
            <span class="font-bold text-xl dark:text-[#1c1917] py-2 px-4">{item.name}</span>
          </a>
        ))
      }
    </div>
  </Card>
</MainLayout>
