---
import MainLayout from "../layouts/MainLayout.astro";
import { getLink } from "../components/Link.astro";
import Card from "../components/Card.astro";

const darkmodeLogo = getLink("/design/symbol-white-astoria-tech-mark.png");
const lightmodeLogo = getLink("/design/symbol-black-astoria-tech-mark.png");

const data = [
  { name: "Discord", href: "https://discord.gg/fSjneA8qwh" },
  { name: "Instagram", href: "https://www.instagram.com/astoria.tech/" },
  { name: "Meetup", href: "https://www.meetup.com/astoria-tech-meetup/" },
  { name: "GitHub", href: "https://github.com/astoria-tech" },
  { name: "I'd like to present", href: "https://astoria.app/intake" },
  {
    name: "RSVP next event",
    href: "https://www.meetup.com/astoria-tech-meetup/events/307393079/",
  },
];
---

<MainLayout title="Links - Astoria Tech Meetup">
  <Card>
    <header>
      <img
        class="mx-auto w-70 p-10 hidden dark:inline-block"
        src={darkmodeLogo}
        alt="Astoria Tech Logo"
      />
      <img
        class="mx-auto w-70 p-10 dark:hidden"
        src={lightmodeLogo}
        alt="Astoria Tech Logo"
      />
    </header>
    <div class="flex flex-col items-center">
      {
        data.map((item) => (
          <a
            class="no-underline w-80 bg-[#2d272e] dark:bg-[#f8fafc] bg-opacity-95 rounded-full p-3 lg:p-4 mb-5 text-center last:bg-[#846e8b] dark:last:bg-[#B7C7B3]"
            href={item.href}
          >
            <span class="font-bold text-xl text-[#f8fafc] dark:text-[#1c1917] py-2 px-4">
              {item.name}
            </span>
          </a>
        ))
      }
    </div>
  </Card>
</MainLayout>
