---
import type {HydratedFeedItem} from '../types'
import Card from '../components/Card.astro'
type Props = HydratedFeedItem & {heading?: 'h1' | 'h2'}
const {heading: Heading, title, content, permalink} = {heading: 'h1', ...Astro.props}
---

<Card>
  <heading>
    <Heading>
      <a href={permalink}>{title}</a>
    </Heading>
  </heading>
  <main>
    <Fragment set:html={content} />
  </main>
</Card>
