---
import type {HydratedFeedItem} from '../types'
type Props = HydratedFeedItem
const {html} = Astro.props
---

<div class="mb-5 bg-[#211e1b] p-5 text-[#f8fafc] border-8 border-[#1c1917] rounded-2xl">
  <Fragment set:html={html} />
</div>
