---
import type { HydratedEvent } from '../types';
import postEventMarkdown from '../markdown/post-event-markdown';
import { render } from '../markdown/render';
type Props = HydratedEvent
const event = Astro.props
const site = Astro.site.toString()
---

<div class="bg-slate-300 w-1/3 p-5" set:html={await render(postEventMarkdown(event, site))}></div>