<!doctype html>
<html>
  <head>
    <title>Linktree</title>
    <style>
      body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        font-family: Arial, sans-serif;
        background-color: #846e8b;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='793' height='95.2' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%231C1917' stroke-width='25' %3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
        margin: 0;
        padding: 0;
      }

      .logo {
        margin: 0 auto;
        width: 90%;
      }

      .content-wrapper {
        padding-bottom: 100px;
        background-color: #1c1917;
      }

      .links-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
        width: 100%;
      }

      .link-wrapper {
        width: 80%;
        background-color: #f5f5f5;
        opacity: 0.95;
        border-radius: 8px;
        padding: 20px;
        margin-bottom: 20px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        text-align: center;
      }

      .link-title {
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 10px;
      }

      .link-wrapper:last-child {
        margin-top: 50px;
        animation: border-fun 2s infinite;
        box-shadow: inset 0 0 0 5px #fde67a;
        background-color: #846e8b;
        color: #f5f5f5;
      }

      @keyframes border-fun {
        0% {
          box-shadow: inset 0 0 0 10px #fde67a;
        }
        50% {
          box-shadow: inset 0 0 0 5px #493350;
        }
        100% {
          box-shadow: inset 0 0 0 10px #fde67a;
        }
      }

      @media (min-width: 768px) {
        .content-wrapper {
          max-width: 600px;
          padding-bottom: 20px;
        }

        .link-wrapper {
          width: 70%;
          padding: 15px;
        }

        .link-title {
          font-size: 1.2rem;
        }

        .link-wrapper:last-child {
          margin-top: 30px;
        }

        .logo {
          margin-bottom: -40px;
          width: 70%;
          padding: 0;
        }
      }
    </style>
  </head>
  <body>
    <div class="content-wrapper">
      <header>
        <img class="logo" src="/design/export/example-astoria-tech-logo.png" alt="Astoria Tech Logo" />
      </header>
      <div class="links-container">
        <a class="link-wrapper" href="https://www.meetup.com/astoria-tech-meetup/">
          <span class="link-title">Meetup page</span>
        </a>
        <a class="link-wrapper" href="https://www.instagram.com/astoria.tech/">
          <span class="link-title">Instagram page</span>
        </a>
        <a class="link-wrapper" href="https://github.com/astoria-tech">
          <span class="link-title">GitHub repo</span>
        </a>
        <a class="link-wrapper" href="https://astoriatech.slack.com/">
          <span class="link-title">Slack Channel</span>
        </a>
        <a class="link-wrapper" href="https://astoria.app/intake">
          <span class="link-title">I'd like to present</span>
        </a>
        <a class="link-wrapper" href="https://www.meetup.com/astoria-tech-meetup/events/300534931">
          <span class="link-title">RSVP next event</span>
        </a>
      </div>
    </div>
  </body>
</html>

<script>
  window.addEventListener('DOMContentLoaded', event => {
    const linkTitles = document.querySelectorAll('.link-title')
    let saveTheDateLink

    for (let i = 0; i < linkTitles.length; i++) {
      if (linkTitles[i].textContent.startsWith('Save the date')) {
        saveTheDateLink = (linkTitles[i].parentElement as HTMLAnchorElement).href
        break
      }
    }

    if (saveTheDateLink) {
      const newLink = document.createElement('a')
      newLink.href = saveTheDateLink
      newLink.className = 'link-wrapper'
      newLink.innerHTML = '<span class="link-title">Save the date</span>'

      const linksContainer = document.querySelector('.links-container')
      linksContainer.insertBefore(newLink, linksContainer.firstChild)
    }
  })
</script>
