@layer base {
  h1 {
    @apply text-2xl pb-2;
  }
  h2 {
    @apply text-xl pb-2;
  }
  h3 {
    @apply text-lg pb-2;
  }

  a {
    @apply text-link-base underline;
  }
  a:hover {
    @apply text-link-hover;
  }
  a:active {
    @apply text-link-active;
  }
  a:visited {
    @apply text-link-visited;
  }
  a:disabled {
    @apply text-link-disabled;
  }

  ul,
  ol {
    @apply list-none p-0 m-0;
  }

  ul li::before {
    @apply content-['•'] mr-2; /* Customize the marker color with your Tailwind color */
  }

  img {
    @apply pb-2;
  }
}
