@layer base {
  @font-face {
    font-family: 'NotoSans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src:
      url('@notosans-medium.otf') format('opentype'),
      url('@notosans-medium.woff') format('woff'),
      url('@notosans-medium.woff2') format('woff2');
  }

  @font-face {
    font-family: 'NotoSans-Bold';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src:
      url('@notosans-bold.otf') format('opentype'),
      url('@notosans-bold.woff') format('woff'),
      url('@notosans-bold.woff2') format('woff2');
  }

  @font-face {
    font-family: 'PlayFair';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src:
      url('@playfair-regular.otf') format('opentype'),
      url('@playfair-regular.woff') format('woff'),
      url('@playfair-regular.woff2') format('woff2');
  }

  @font-face {
    font-family: 'PlayFair-Bold';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src:
      url('@playfair-bold.otf') format('opentype'),
      url('@playfair-bold.woff') format('woff'),
      url('@playfair-bold.woff2') format('woff2');
  }
}
