---
import TableCell from './TableCell.astro'
type Props = {
  data: {[key:string]: string}[];
}
const {data} = Astro.props;

---

<table>
    {data.map(item => {
        return (
        <tr>
            <td>{item.name}</td>
            <TableCell dataItem={item} />
        </tr>
    );
    
    })}
</table>
