---
import TableCell from './TableCell.astro'

type Props = {
  data: {[key:string]: string | number}[];
}
const {data} = Astro.props;

---

<table class="w-full my-2">
    <tr class="table-row">
        <td class="table-cell body-sans-heavy">Name</td>
        <td class="table-cell body-sans-heavy">Value</td>
    </tr>
    {data.map(item => {
        return (
        <tr class="table-row">
            <td class="table-cell">{item.className}</td>
            <TableCell dataItem={item} />
        </tr>
    );
    
    })}
</table>
