---
type Props = {
  dataItem: {[key:string]: string};
}
const {dataItem} = Astro.props;

const valueProps = (dataItem) => Object.entries(dataItem);
---

<td class="values-cell">
    {valueProps(dataItem).map(valueItem => <span>{valueItem[0]}: {valueItem[1]}</span> )}
</td>

