@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Typography */
@import "./styles/base/typography/fontFamily.css";
@import "./styles/base/typography/elements.css";

/* Background pattern */
.bg-waves {
  background-image: url('/css/subtle-waves.svg');
  background-repeat: repeat;
  background-size: 400px 100px;
  background-position: 0 0;
}
