---
import '../style.css'
import copy from '../copy'
import {getCssUrl, getLink} from '../components/Link.astro'

type Props = {
  title?: string
  bodyClass?: string[]
  useWavyBackground?: boolean
}

const {title, useWavyBackground, bodyClass = []} = Astro.props
const applyWavyBackground = useWavyBackground ? ['wavy-background'] : []
---

<style define:vars={{background: getCssUrl('/css/wavy-background.svg')}}>
  .wavy-background {
    background-color: #2d272e;
    background-image: var(--background);
    background-attachment: fixed;
  }
</style>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="alternate" type="application/rss+xml" title="RSS Feed for astoria.app" href={getLink('rss.xml')} />
    <link rel="icon" type="image/png" href="../design/symbol-black-logo.png" media="(prefers-color-scheme: light)" />
    <link rel="icon" type="image/png" href="../design/symbol-white-logo.png" media="(prefers-color-scheme: dark)" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={copy.siteDescription} />
    <title>{title ? `${title} | ${copy.defaultPageTitle}` : copy.defaultPageTitle}</title>
  </head>

  <body class:list={[bodyClass, ...applyWavyBackground]}>
    <slot />
  </body>
</html>
