---
import Layout from './Layout.astro'

type Props = {
  title?: string
}
const {title} = Astro.props
---

<Layout title={title}>
  <body class="bg-zinc-100">
    <div class="w-[500px] m-auto">
      <slot />
    </div>
  </body>
</Layout>
