---
import Layout from './Layout.astro'
import copy from '../copy'

type Props = {
  title?: string
  bodyClass?: string[]
}
const {title, bodyClass = []} = Astro.props
---

<Layout useWavyBackgroundDark title={title} bodyClass={['bg-zinc-100', ...bodyClass]}>
  <div class="w-[500px] m-auto">
    <slot />
  </div>
</Layout>
